.hero {
    background-image: url('../assets/imgs/heidi-fin-2TLREZi7BUg-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }


  /* Dropdown container */
.dropdown-container {
  position: relative;
  display: inline-block;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1; /* Ensure dropdown is above other elements */
}

/* Styling for the dropdown items */
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
  border-radius: 4px;
}

/* Optional: add animation for smooth opening */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu {
  animation: fadeIn 0.3s ease-out;
}
