.auth {
    background-image: url('../assets/imgs/mike-petrucci-c9FQyqIECds-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }

  .spinner {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.5s linear infinite;
    margin-right: 0.5rem;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  